@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   background: #0c0303a6;
   transition: 0.5s;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
    border-radius: 40px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}


.content .textBox h2 {
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 30px;
}

.content .textBox h2 span{
    font-size: 1em;
}

.content .textBox p{
    color: #fff;
    text-indent: 50px;
}

.content .homeDescr p {
    letter-spacing: 0.5px;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox {
    width: 700px;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.content .homeImg {
    width: 500px;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.content .homeImg img{
    width: 500px;
}

.content .myPhoto {
    width: 400px;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.content .myPhoto img{
    max-width: 400px;
    border-radius: 40px;
}
.content .imgBox img {
    max-width: 700px;
    border-radius: 40px;
}



.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li img
{
    max-width: 40px;
    border-radius: 40px;
    
}

.projectsThumb li img {
    filter: invert(1);
}
.thumb li:hover
{
    transform: translateY(-15px);
}

.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}

#text1 , #text2, #text3 {
    display: none;
}
#title1, #title2, #title3 {
    display: none;
}

@media (max-width: 991px)
{
    section {
        padding: 40px;
        padding-bottom: 140px;
    }
    header .logo {
        position: relative;
        max-width: 60px;
        max-height: 60px;
        border-radius: 30px;
    }
    

    .content .textBox h2 {
        color: #fff;
        font-size: 2em;
        line-height: 1.5em;
        font-weight: 900;
        text-transform: uppercase;
    }
    .content .textBox p{
        color: #fff;
        text-indent: 25px;
        padding-right: 20px;
    }
    header {
        padding: 20px 40px;
    }
    header ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transition: 0.2s;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header ul li a {
        display: inline-block;
        color: #000;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: none;
        font-size: 2em;
        margin: 20px 0;
    }

    header ul li a:hover {
        color: #f00
    }

    .toggleMenu {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url("images/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
    }
    
    .toggleMenu.active {
        width: 30px;
        height: 30px;
        background-image: url("images/close.png");
        background-size: 20px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 2;
        filter: invert(1);
    }

    header ul.active {
        visibility: visible;
        opacity: 1;
    }

    .content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
    }
    .content .imgBox {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .myPhoto {
    
        max-width: 400px;
    }
    .content .imgBox img {
        max-width: 100%;
        margin-right: 30px;
    }
    .content .textBox {
        position: relative;
        max-width: 100%;
    }
    .sci {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0,0,0,0.1);
    }
}